canvas {
  display: block;
}

.block-audio {
  display: none;
}
body{padding: 0px;margin: 0px}


.present{
  position: fixed;
    color: white!important;
    margin:auto;
    width: 300px;
    left: calc(40% - 300px);
    right:0;
    bottom: 50%;
    font-size: 32px;
}
